#admin_suggestions_div, #user_management_div, #file_management_div {
	border-radius: 6px;
	background: #fff;
	padding: 3px;
	margin: 5px 0;
}

#admin_suggestions_div h2 {
	margin: 6px 5px;
}

#admin_suggestions_div p {
	margin: 10px;
}

#admin_suggestions_div form {
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
	text-align: right;
	width: 100%;
}


#admin_suggestions_div input[type='submit'] {
	border-radius: 5px;
	border: none;
	color: #fff;
	background: #DB571F;
	font-size: 15px;
	padding: 10px 5px;
}

#admin_view_userlist,  #admin_view_filelist {
	height: 400px;
	overflow-y: scroll;
}

#admin_view_userlist .each_user, #admin_view_filelist .each_file {
	border: 1px solid #ddd;
	margin: 8px 5px;
}

#admin_view_userlist .each_user img {
	margin: 3px 5px;
	float: left;
	width: 90px;
}

#admin_view_filelist .each_file img {
	margin: 3px 5px;
	float: left;
	width: 40px;
}

#admin_view_userlist .each_user form, #admin_view_filelist .each_file form  {
	margin: 3px 5px;
}

#admin_view_userlist .each_user p {
	margin: 3px 5px;
	float: left;
	width: 250px;
}

#admin_view_filelist .each_file  p {
	font-size: 12px;
	margin: 3px 5px;
	float: left;
	width: 250px;
}