/* the overlayed element */
#voverlay {
	
	/* growing background image */
	background-image:url('../../images/resource/video_bg.png');
	
	/* dimensions after the growing animation finishes  */
	width:640px;
	height:480px;
	
	/* initially overlay is hidden */
	display:none;
	
	/* some padding to layout nested elements nicely  */
	padding:51px 30px 32px 30px;
}

/* default close button positioned on upper right corner */
#voverlay .close {
	background-image:url('../../images/resource/close_video.png');
	position:absolute;
	right:28px;
	top:24px;
	cursor:pointer;
	height:18px;
	width:45px;
}

#voverlay .vcontainer{
	left:0;
	top:0;
	width:100%;
	height:100%;	
	background:url('../../images/resource/loading.gif') no-repeat 50% 50%;
}

#voverlay .vcontainer > div{
	height:100%;
}