#profile_adan_div {
	background: #fff;
	border-radius: 6px;
	padding: 3px;
}

#profile_adan_div img {
	float: left;
	width: 45px;
}

#profile_adan_div p {
	word-wrap: break-word;
	float: left;
	margin: 5px 10px;
}

#profile_adan_div table {
	margin: 10px 0px;
	width: 100%;
	border-collapse: separate;
	border-spacing: 9px;
}

#profile_adan_div table th {
	text-align: left;
}

#profile_adan_div table tr:hover {
	font-weight: 700;
}

#profile_adan_div table .userview_filename {
	font-style: italic;
	color: #202A33;
	word-wrap: break-word;
	margin: 0;
	min-width: 100px;
	max-width: 200px;
}

#profile_adan_div table .userview_filesize {
	margin: 0;
	font-family: Courier;
	font-size: 15px;
	color: #787775;
}

#profile_adan_div table .userview_basicfileinfo {
	margin: 0;
	font-family: Arial;
	font-size: 14px;
}

#profile_adan_div select {
	font-family: Arial;
	font-size: 14px;
	padding: 3px;
}

#profile_adan_div .go_button {
	font-weight: bold;
	background: #5db21f;
	border-radius: 7px;
	border: none;
	padding: 5px 3px;
	width: 40px;
	color: #fff;
}

#profile_adan_div .download_button {
	background-repeat: no-repeat;
	background-color: #5EDCFF;
	background-size: 65% 90%;
	background-position:center;
    border-radius: 20px;
    border: none;
	width: 60px;
    height:30px;
    cursor:pointer;
}

#profile_adan_div .download_button:hover {
	background-color: #26D0FF;
}

#user_edit_file {
	border-radius: 7px;
	background: #F7F7F7;
	margin: 10px 0;
}

#user_edit_file td {
	vertical-align: top;
}

#user_edit_file td input,
#user_edit_file td select,
#user_edit_file td textarea {
	border: 1px solid #757575;
	border-radius: 6px;
	padding: 3px 2px;
}

#user_edit_file .close {
	margin: 0 5px 5px 0;
	color: #404040;
	float: right;
}

#user_edit_file td input[type='submit'] {
	border-radius: 5px;
	background: #48649f;
	font-weight: bold;
	height: 30px;
	border: none;
	padding: 5px 3px;
	color: #fff;	
}

#request_button {
	background: #218C8D;
	border-radius: 3px;
	border: none;
	width: 160px;
	padding: 7px 0;
	margin: 5px 10px;
}

#request_button span {
	font-size: 15px;
	color: #FFF;
	width: 100%;
}

#request_button:hover {
	background: #219D9E;
}

.li_info_friends {
	border-radius: 3px;
	padding: 2px 3px;
	font-size: 12px;
	background: #FF9933;
	color: #fff;
}

/* View Images Div */

#profile_images_div, #profile_video_div, #profile_music_div {
	background: #fff;
	border-radius: 6px;
	padding: 3px;
}

#profile_images_div img, #profile_video_div img, #profile_music_div img {
	float: left;
	width: 45px;
}

#profile_images_div p, #profile_video_div p, #profile_music_div p {
	word-wrap: break-word;
	float: left;
	margin: 5px 10px;
}

#profile_images_div table {
	margin: 10px 0px;
	width: 100%;
	border-collapse: separate;
	border-spacing: 9px;
}

#images_table_view {
	table-layout: fixed;
	width: 100%;
}

#images_table_view td {
	border: 1px solid #ddd;
	margin: 5px;
	float: left;
	display: block;
	width: 275px;
	height: 150px;
	padding: 3px;
}

#images_table_view td:hover {
	border: 1px solid #24EDFF;
}

#images_table_view a {
	width: 250px;
	display: block;
}

#images_table_view a img {
	width: 100px;
	margin: 5px 3px;
}

#images_table_view a p {
	margin: 5px 3px;
	width: 135px;
}

.filename {
	color: #454545;
}

.share {
	font-family: serif;
	font-weight: bold;
	color: #005BB5;
}

.size {
	color: #FF9100;
}

#images_table_view .image_form {
	float: right;
	width: 165px;
}

#images_table_view .image_form .go_button {
	font-weight: bold;
	background: #5db21f;
	border-radius: 7px;
	border: none;
	padding: 5px 3px;
	width: 30px;
	color: #fff;
}

#images_table_view .image_form select {
	font-family: Arial;
	font-size: 14px;
	padding: 3px;
}

#images_table_view .download_button{
	background-repeat: no-repeat;
	background-color: #5EDCFF;
	background-size: 65% 90%;
	background-position:center;
    border-radius: 20px;
    border: none;
	width: 60px;
    height:30px;
    cursor:pointer;
}

/* View Videos Div */

#profile_video_div table {
	border-collapse: separate;
	border-spacing: 9px;
	width: 100%;
}

#video_table_view {
	table-layout: fixed;
	width: 100%;
}

#video_table_view td {
	border: 1px solid #ddd;
	margin: 5px;
	float: left;
	display: block;
	width: 275px;
	height: 150px;
	padding: 3px;
}

#video_table_view td:hover {
	border: 1px solid #24EDFF;
}

#video_table_view .voverlay {
	background: url('../../images/resource/logo_thumbnail.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position:center;
	width: 100px;
	height: 100px;
	float: left;
	display: block;
}

#video_table_view .voverlay:hover {
	background: url('../../images/resource/play_video.png');
	background-repeat: no-repeat;
	background-size: 80% 80%;
	background-position: center;
}

#video_table_view p {
	margin: 5px 3px;
	float: left;
	width: 150px;
}

#video_table_view .video_form {
	float: left;
	width: 140px;
}

#video_table_view .video_form .go_button {
	font-weight: bold;
	background: #5db21f;
	border-radius: 7px;
	border: none;
	padding: 5px 3px;
	width: 30px;
	color: #fff;
}

#video_table_view .video_form select {
	font-family: Arial;
	font-size: 14px;
	padding: 3px;
}

#video_table_view .download_button{
	background-repeat: no-repeat;
	background-color: #5EDCFF;
	background-size: 65% 90%;
	background-position:center;
    border-radius: 20px;
    border: none;
	width: 60px;
    height:30px;
    cursor:pointer;
}

/* View Music Div */

#profile_music_div table {
	border-collapse: separate;
	border-spacing: 9px;
	width: 100%;
}

#profile_music_div td {
	border: 1px solid #ddd;
	padding: 3px;
	margin: 5px 3px;
	display: block;
	width: 280px;
	height: 130px;
	float: left;
}

#profile_music_div td:hover {
	border: 1px solid #24EDFF;
}

#profile_music_div p {
	margin: 5px 10px;
}

#profile_music_div audio {
	width: 275px;
}

#music_table_view .audio_form {
	float: left;
	width: 140px;
}

#music_table_view .audio_form .go_button {
	font-weight: bold;
	background: #5db21f;
	border-radius: 7px;
	border: none;
	padding: 5px 3px;
	width: 30px;
	color: #fff;
}

#music_table_view .audio_form select {
	font-family: Arial;
	font-size: 14px;
	padding: 3px;
}

#music_table_view .download_button {
	font-size: 15px;
	color: #fff;
	background: #3BD4FF;
    border-radius: 10px;
    padding: 10px 0;
    border: none;
	width: 160px;
    cursor:pointer;
}

#edit_music_fileinfo {
	margin: 10px 0;
	border-radius: 7px;
	background: #F7F7F7;
	width: 100%;
}

#edit_music_fileinfo div {
	margin: 10px 3px;
}

#edit_music_fileinfo .title {
	font-weight: bold;
	float: left;
	margin: 0;
	text-align: left;
}

#edit_music_fileinfo .filename {
	float: left;
	width: 160px;
}

#edit_music_fileinfo .filedesc {
	float: left;
	width: 170px;
}

#edit_music_fileinfo .sharetype {
	float: left;
	width: 100px;
}

#edit_music_fileinfo .category {
	width: 100px;
	float: left;
}


#edit_music_fileinfo input,
#edit_music_fileinfo select,
#edit_music_fileinfo textarea {
	border: 1px solid #757575;
	border-radius: 6px;
	padding: 3px 2px;
}

#edit_music_fileinfo .button {
	float: left;
	width: 40px;
	height: 45px;
}

#edit_music_fileinfo .button input[type='submit'] {
	position: relative;
	top: 15px;
	border-radius: 5px;
	background: #48649f;
	font-weight: bold;
	height: 30px;
	border: none;
	padding: 5px 3px;
	color: #fff;	
}

#edit_music_fileinfo .close {
	margin: 0 5px 5px 0;
	color: #404040;
	float: right;
}

/* Friend request */

#profile_friendrequest_div, #profile_friends_div, #profile_chat_div {
	border-radius: 6px;
	background: #fff;
	padding: 3px;
	margin: 5px 0;
}

#profile_friendrequest_div .profile_req_thumbnail {
	float: left;
	padding: 5px;
	margin: 3px 2px;
	display: block;
	width: 190px;
	height: 110px;
}

#profile_friendrequest_div .profile_req_thumbnail:hover {
	background: #FAFAFA;
}

#profile_friendrequest_div img {
	float: left;
	border-radius: 5px;
	width:50px;
}

#profile_friendrequest_div .form_name {
	margin: 0px 3px;
	width: 130px;
	float: left;
}

#profile_friendrequest_div p {
	word-wrap: break-word;
	width: 130px;
	color: #0065ca;
}

#profile_friendrequest_div a {
	text-decoration: none;
}

#profile_friendrequest_div a:hover {
	text-decoration: underline;
}

#profile_friendrequest_div .friendreq_action {
	padding: 3px 2px;
}

#profile_friendrequest_div button {
	padding: 5px;
	margin: 2px 0;
}

#confirm_friendreq {
	background: #0080ff;
	border-radius: 7px;
	border: none;
	color: #fff;
}

#delete_friendreq {
	background: #ff5555;
	border-radius: 7px;
	border: none;
	color: #fff;
}

#friends_list {
	width: 100%;
}

#friends_list td {
	float: left;
	margin: 3px 5px;
	padding: 1px 1px;
	display: block;
	border: 1px solid #ddd;
	width: 290px;
}

#friends_list td img {
	float: left;
	width: 100px;
	height: 80px;
}

#friends_list .user_detail {
	padding: 2px;
	margin: 0 0 0 20px;
	float: left;
	width: 140px;
}

#friends_list .user_detail p {
	word-wrap: break-word;
}

#friends_list .user_detail p a {
	text-decoration: none;
	color: #0065ca;
}

#friends_list .user_detail p a:hover {
	text-decoration: underline;
}

#friends_list .user_detail .count_files {
	font-size: 14px;
	font-style: italic;
}

#friends_list .user_detail button {
	margin: 6px 0;
	box-shadow: 1px 1px 3px #ddd;
	border: 1px solid #ddd;
	border-radius: 3px;
	background: #fff;
	color: #7A7A7A;
	font-weight: bold;
	width: 130px;
	padding: 3px;
}

#admin_control {
	list-style-type: none;
	padding-left: 12px;
}

#admin_control li a {
	font-family: Trebuchet MS;
	line-height: 30px;
	color: #004c70;
}