* {
	padding: 0;
	margin: 0;
	font-family: Trebuchet MS;
}

img {
	border: none;
}

body {
	background: #F5F5F5;
	color: #666;
}

header {
	position: fixed;
	top: 0;
	background: #434343;
	padding: 5px;
	width: 100%;
	height: 30px;
}

header img {
	width: 130px;
	height: 30px;
	float: left;
}

#user_search {
	border: none;
	border-radius: 3px;
	width: 250px;
	padding: 6px;
	margin: 2px 45px;
}

#user_search:focus {
	outline: none;
}

header p {
	margin: 3px 8px 0 0;
	float: right;
}

header p img {
	margin: 3px 5px;
	width: 24px;
	height: 24px;
}

header p a {
	line-height: 30px;
	font-size: 16px;
	text-decoration: none;
	color: #fff;
}

header p a .options {
	float: right;
	width: 20px;
	height: 20px;
}

#user_search_results {
	background: #fff;
	position: absolute;
	width: 360px;
	margin: 43px 0 0 180px;
}

#user_search_results ul {
	box-shadow: 1px 2px 2px 1px #ddd;
	list-style-type: none;
	font-size: 17px; 
}

#user_search_results li {
	padding: 6px 0;
	height: 30px;
}

#user_search_results li img {
	float: left;
	clear: both;
	width: 23px;
	height: 23px;
	margin: 4px 5px 0 2px;
}

#user_search_results li a {
	border-radius: 3px;
	text-decoration: none;
	display: block;
	width: 360px;
	height: 30px;
	line-height: 30px;
	color: #858585;
}

#user_search_results li a:hover {
	background: #cee3fd;
}

#main_content {
	width: 900px;
	margin: 0px auto;
}

#sidebars {
	margin: 50px 5px 0 8px;
	width: 140px;
	float: left;
}

#navmenu, .sub-1 {
	margin: 5px 0;
	border-radius: 8px;
	list-style-type: none;
	background: #FFF;
	font-size: 16px;
	width: 140px;
	z-index: 999;
}

#navmenu li {
	padding: 5px 0;
	width: 140px;
	height: 25px;
}

#navmenu li a {
	font-size: 17px;
	padding: 3px 0;
	text-decoration: none;
	color: #858585;
	display: block;
	width: 140px;
	height: 25px;
	line-height: 25px;
	border-radius: 5px;
}

#navmenu li a:hover {
	background: #cee3fd;
}

#navmenu li img {
	margin: 0 3px;
	float: left;
	width: 24px;
	height: 24px;
}

#navmenu .sub-1 li {
	padding: 5px 0;
	margin: 2px 0;
}

#navmenu .sub-1 {
	display: none;
	position: relative;
	top: -40px;
	left: 140px;
}

#navmenu li:hover .sub-1 {
	display: block;
}

#options {
	border: 1px solid #ddd;
	display: none;
	background: #fff;
	border-radius: 8px;
	list-style-type: none;
	float: right;
	position: fixed;
	top: 43px;
	right: 0;
	margin: 0 5px 0 0;
}

#options li {
	padding: 5px 0;
	display: block;
	width: 130px;
	height: 25px;
}

#options li a {
	display: block;
	text-align: center;
	text-decoration: none;
	line-height: 25px;
	color: #434343;
}

#options li a:hover {
	border-radius: 6px;
	background: #434343;
	color: #FFF;
}

#clear {
	clear: both;
}

#profile_pages {
	margin: 55px 0 0 10px;
	width: 620px;
	float: left;
}

#profile_main_page {
	border-radius: 6px;
	background: #FFF;
}

#profile_main_page h2 {
	padding: 3px 11px;
}

#profile_main_page table {
	border-collapse: separate;
	border-spacing: 8px;
}

#profile_main_page table td {
	text-align: center;
	padding: 3px;
}

#profile_main_page table td a {
	text-decoration: none;
	color: #858585;
	border-radius: 3px;
	padding: 7px;
	display: block;
}

#profile_main_page table td a:hover {
	background: #cee3fd;
}

#profile_main_page table td img {
	width: 80px;
	height: 80px;
}


#upload_page_div {
	border-radius: 6px;
	background: #FFF;
	padding: 3px;
}

#upload_page_div h1 {
	margin: 6px 5px;
}

#upload_page_div form {
	border: 1px solid #66CCFF;
	padding: 5px;
	margin: 15px 10px;
}

#upload_page_div input {
	font-size: 18px;
}

#upload_page_div #upload_button {
	background: #1265a9;
	border-radius: 10px;
	font-size: 25px;
	border: none;
	color: #FFF;
	width: 250px;
	height: 50px;
	float: right;
}


@media only screen and (max-width: 727px) {
	header {
		height: auto;
	}

	header > img {
		display: none;
	}

	#user_search {
		margin: 0;
		float: left;
	}

	header p {
		margin: 0;
		padding: 0;
	}

	header p img {
		padding: 0;
	}
}

@media only screen and (max-width: 640px) {

	header {
		background: #434343;
		width: 100%;
		height: auto;
	}

	header > img {
		display: none;
		margin: 3px 5px;
		width: 100%;
		height: auto;
	}

	#user_search {
		border-radius: 6px;
		margin: 0;
		width: 95%;
	}


	header p {
		margin: 5px 0;
		padding: 0;
		float: left;
	}

	header p img {
		margin: 0 3px;
	}

	#sidebars {
		margin-top: 85px;
	}
}

#upload_progressbar {
	display: none;
	margin: 10px auto;
	width: 590px;
	height: 30px;
}

#percent_info {
	display: none;
	text-align: center;
	margin: 0px auto;
}

.error {
	text-align: left;
	font-weight: bold;
	font-style: italic;
	color: #83070F;
}

.success {
	text-align: left;
	font-weight: bold;
	font-style: italic;
	color: #0a4bb3;
}

.correct {
	text-align: left;
	font-weight: bold;
	font-style: italic;
	color: #47FF54;
}

.incorrect {
	font-size: 15px;
	text-align: left;
	font-weight: bold;
	font-style: italic;
	color: #FF3D54;
}

#profile_changepic_div {
	border-radius: 6px;
	background: #FFF;
	padding: 3px;
}

#profile_changepic_div hr {
	margin-top: 5px;
}

#profile_changepic_div img {
	border: 1px solid #66CCFF;
	margin: 10px;
}

#profile_changepic_div img {
	border-radius: 5px;
	float: left;
	width: 200px;
}

#profile_changepic_div .change_pic_form {
	margin: 10px 0 10px 0;
	float: left;
	width: 350px;
}

#profile_changepic_div .change_pic_form input[type='submit'] {
	border-radius: 3px;
	margin: 10px 0 10px 0;
	background: #218C8D;
	font-size: 23px;
	padding: 5px;
	color: #fff;
	border: none;
	width: 250px;
}

#profile_changepass_div {
	border-radius: 6px;
	background: #FFF;
	padding: 3px;
	font-size: 19px;
}

#profile_changepass_div h1 {
	padding: 10px 5px;
	font-size: 30px;
	color: #4A4A4A;
}

#changepass_form {
	width: 400px;
	margin: 10px auto;
}

#changepass_form input {
	border: 1px solid #EBEBEB;
	text-align: center;
	margin: 5px 0;
	width: 385px;
	border-radius: 6px;
	font-size: 20px;
	padding: 9px 5px;
	color: #636363;
}

#changepass_form input:focus {
	outline: none;
}

#changepass_form .fp_submit_button {
	font-size: 28px;
	width: 400px;
	padding: 8px;
	background: #188AF9;
	border-radius: 7px;
	color: #FFF;
}

#profile_updateinfo_div {
	border-radius: 6px;
	background: #FFF;
	padding: 3px;
}

#profile_updateinfo_div h1 {
	margin: 10px 5px;
}

#profile_updateinfo_div table {
	margin: 10px auto;
	border-collapse: separate;
	border-spacing: 8px;
	font-size: 14px;
}

#profile_updateinfo_div input[type='text'] {
	font-weight: bold;
	border: 1px solid #ddd;
	border-radius: 6px;
	font-size: 18px;
	width: 270px;
	padding: 3px;
	color: #403B3B;
}

#profile_updateinfo_div select {
	border: 1px solid #ddd;
	border-radius: 6px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px;
	color: #2B2B2B;
}

#profile_updateinfo_div input[type='submit'] {
	border: 1px solid #ddd;
	border-radius: 8px;
	background: #218C8D;
	color: #fff;
	font-size: 24px;
	width: 250px;
	padding: 5px;
}

#view_uploaded_files {
	margin: 0 0 0 10px;
}

#view_uploaded_files ul {
	list-style-type: none;
}

#view_uploaded_files li {
	border-bottom: 1px solid #ddd;
	display: block;
}

#view_uploaded_files li p {
	font-size: 15px;
	line-height: 32px;
}

#view_uploaded_files li a {
	text-decoration: none;
	padding: 3px 0;
	display: block;
	cursor: pointer;
}

#view_uploaded_files li a:hover {
	background: #CEE3FD;
}

#view_uploaded_files img {
	float: left;
	width: 32px;
	margin: 0 6px;
}

#view_uploaded_files .filename {
	font-family: Arial;
	color: #404040;
	padding-right: 10px;
}

#view_uploaded_files .filesize {
	padding-right: 10px;
	font-family: Courier;
	font-weight: bold;
	color: #787775;
}

#view_uploaded_files .filetype {
	color: #48DB23;
}


































#view_userprofile_div {
	border-radius: 6px;
	background: #fff;
}

#view_userprofile_div .image_container {
	text-align: center;
	width: 150px;
	margin: 5px;
	float: left;
}

#view_userprofile_div img {
	width: 150px;
}

#view_userprofile_div .userprofile_options {
	list-style-type: none;
}

#view_userprofile_div .userprofile_options li {
	text-align: left;
}

#view_userprofile_div .userprofile_options li a {
	font-weight: normal;
	font-size: 15px;
}

#view_userprofile_div .userprofile_options li a:hover {
	font-weight: normal;
	color: #2869F7;
}

#view_userprofile_div .profile_main_info {
	float: left;
	width: 440px;
	margin: 5px;
}

#view_userprofile_div .profile_main_info span {
	margin: 5px 0;
	float: left;
}

#view_userprofile_div ul {
	margin: 5px 3px;
	list-style-type: none;
}

#view_userprofile_div ul li {
	width: 100px;
	height: 25px;
	float: left;
	border: none;
	text-align: center;
	margin-right: 10px;
}

#view_userprofile_div ul li a {
	color: #303030;
	font-size: 17px;
	display: block;
	line-height: 25px;
}

#view_userprofile_div ul li a:hover {
	color: #3399FF;
	font-weight: bold;
}

#friend_button {
	margin: 10px 3px;
	font-size: 17px;
	width: 130px;
}

#view_userprofile_div .container_div {
	margin: 10px 0;
	width: 435px;
}

#view_userprofile_div .user_files_menu {
	border: 1px solid #CCC;
	border-collapse: separate;
	border-spacing: 2px;
}

#view_userprofile_div .user_files_menu td {
	width: 100px;
	text-align: center;
	padding: 8px 8px 8px 0;
}

#view_userprofile_div .user_files_menu td a {
	text-decoration: none;
	color: #858585;
	border-radius: 3px;
	padding: 3px;
	display: block;
}

#view_userprofile_div .user_files_menu td a:hover {
	background: #cee3fd;
}

#view_userprofile_div .user_files_menu td img {
	padding: 3px;
	width: 65px;
}

#view_userprofile_div .user_basic_info table {
	border-collapse: separate;
	border-spacing: 8px;
}

#view_userprofile_div .user_info_title {
	font-weight: 800;
}


#logo_text > a {
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
	font-style: italic;
	padding: 6px;
	color: #fff;
	float: left;
	clear: both;
}