* {
	font-family: Trebuchet MS;
	padding: 0;
	margin: 0;
}

img {
	border: none;
}

body {
	background: #FAFAFA;
	height: 100%;
}

header {
	height: 60px;
	line-height: 50px;
	border-bottom: 1px solid #ddd;
}

header img {
	width: 75px;
	float: left;
}

header ul {
	float: right;
}

header #login {
	display: none;
	border-radius: 4px;
	margin: 3px 0 0;
	padding: 7px;
	background: #FFF;
	float: right;
	position: relative;
	top: 60px;
	left: 230px;
	width: 160px;
}

header #login input {
	border: 1px solid #EBEBEB;
	color: #4F4F51;
	border-radius: 3px;
	padding: 3px;
	margin: 5px 0;
}

header #login input:focus {
	outline: none;
}

header #login input[type='submit'] {
	border-radius: 5px;
	width: 100%;
	background: #0F74B0;
	font-size: 16px;
	color: #FFF;
}

#login a {
	font-size: 14px;
	color: #3A3A3C;
}

header ul li {
	margin-right: 12px;
	display: inline;
	text-align: center;
}

header ul li a {
	font-weight: bold;
	text-decoration: none;
	color: #525252;
}

header ul li a:hover{
	text-decoration: underline;
}

#forgotpass_div {
	width: 500px;
	position: fixed;
	top: 30%;
	left: 50%;
	margin: -100px 0 0 -250px;
	font-size: 19px;
	color: #595959;
}

#forgotpass_div h1 {
	float: left;
	padding: 10px 5px;
	font-size: 30px;
	color: #4A4A4A;
}

#forgotpass_form, #forgotpass_second_form, #resetpass_form {
	width: 400px;
	margin: 10px auto;
}

#forgotpass_form input, #forgotpass_second_form input, #resetpass_form input {
	border: 1px solid #EBEBEB;
	text-align: center;
	margin: 5px 0;
	width: 385px;
	border-radius: 6px;
	font-size: 20px;
	padding: 9px 5px;
	color: #636363;
}

#forgotpass_form input:focus, #forgotpass_second_form input:focus, #resetpass_form input:focus {
	outline: none;
}

#forgotpass_form .fp_submit_button, #forgotpass_second_form .fp_submit_button, #resetpass_form .fp_submit_button {
	font-size: 28px;
	width: 400px;
	padding: 8px;
	background: #188AF9;
	border-radius: 7px;
	color: #FFF;
}

#home_profile_link {
	height: 30px;
	margin: 5px 10px 0 0;
	float: right;
}

#home_profile_link a {
	color: #707070;
	text-decoration: none;
	margin-right: 3px;
	font-size: 17px;
	line-height: 30px;
	float: right;
}

#home_profile_link a:hover {
	text-decoration: underline;
}

#home_profile_link img {
	border: none;
	width: 27px;
	height: 25px;
	float: right;
}

#main_searchbar {
	display: inline;
}

header .logo_desc {
	font-weight: bold;
	font-size: 34px;
	color: #0366ae;
	font-style: italic;
	float: left;
}

header #main_searchbar input {
	background-image: url('http://localhost/images/resource/search.png');
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: right;
	text-indent: 10px;
}

header #main_searchbar input:focus {
	background-image: url('http://localhost/images/resource/search.png');
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: right;
	text-indent: 10px;
}

#filename_search {
	position: absolute;
	top: 8px;
	left: 50%;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 0 0 0 -175px;
	padding: 2px;
	display: inline;
	font-family: Arial;
	color: #404040;
	padding: 3px;
	width: 350px;
	height: 30px;
	font-size: 17px;
	float: left;
}

header #main_searchbar input[placeholder] {
	font-style: italic;
	font-weight: 500;
}

#filename_search:focus {
	background: #fff;
	outline: none;
}

#search_div button{
	background: #1265A9;
	border: 1px outset #1265a9;
	border-radius: 4px; 
	font-size: 18px;
	float: right;
	width: 80px;
	height: 32px;
	color: #FFF;
	padding: 3px;
}

#results {
	z-index: 999;
	position: absolute;
	top: 60px;
	background: #FFF;
	width: 100%;
	margin: 5px 0;
}

#results ul{
	list-style-type: none;
	list-style-position: outside;
}

#results ul li {
	border-bottom: 1px inset #E8E8E8;
	padding: 8px 5px;
	clear: both;
}

#results ul li:hover {
	cursor: pointer;
	background: #cbd8e6;
}

#results ul li img{
	float: left;
	width: 23px;
	height: 23px;
}

#results ul li p {
	text-indent: 10px;
	text-align: left;
}

#results ul li span {
	margin-right: 15px;
}

#results ul li a {
	margin-left: 15px;
	font-weight: bold;
	color: #404040;
}

#results ul li a:hover {
	color: #83070F;
}

#results ul li input[type='submit'] {
	text-decoration: underline;
	font-size: inherit;
	background: none;
	border: none;
	margin-left: 15px;
	font-weight: bold;
	color: #404040;
}

#results ul li input[type='submit']:hover {
	color: #83070F;
}

.filename {
	font-style: italic;
	color: #202A33;
}

.filetype {
	color: #48DB23;
}

.filesize {
	font-family: Courier;
	color: #787775;
}

#clear {
	clear: both;
}

.error {
	text-align: left;
	font-weight: bold;
	font-style: italic;
	color: #83070F;
}

.success {
	text-align: left;
	font-weight: bold;
	font-style: italic;
	color: #0a4bb3;
}

.correct {
	text-align: left;
	font-weight: bold;
	font-style: italic;
	color: #47FF54;
}

.incorrect {
	font-size: 15px;
	text-align: left;
	font-weight: bold;
	font-style: italic;
	color: #FF3D54;
}

#registration_info {
	float: right;
	width: 300px;
	margin: 10px 70px;
}

.registration_failed {
	color: #BD2727;
	font-size: 15px;
	padding: 10px 15px;
	background-color: #FFD6D6;
	box-shadow: 0 0 0 1px rgba(189,39,39,.25);
}

.registration_success {
	color: #00CF4F;
	font-size: 15px;
	padding: 10px 0;
	text-align: center;
	background-color: #A6FFD2;
	box-shadow: 0 0 0 1px rgba(99,255,112,.25);
}

footer {
	color: #FFF;
	width:100%;
	height: 30px;
	line-height: 30px;
	background: #11161F;
	text-align: center;
}

#signup {
	font-size: 19px;
	color: #737373;
	margin: 10px auto 30px;
	width: 700px;
}

#signup table td {
	padding: 2px 7px;
}

#signup h4 {
	float: left;
	width: 200px;
	padding: 10px 5px;
	font-size: 30px;
	color: #4A4A4A;
}

#signup input, #signup select {
	border: 1px solid #EBEBEB;
	border-radius: 6px;
	font-size: 20px;
	padding: 9px 5px;
	color: #4f4f51;
}

#signup table #radio_td span{
	font-size: 20px;
	margin-right: 20px;
}

#signup input[type='radio'] {
	transform:scale(1.7);
}

#signup input:focus{
	outline: none;
}

#signup input[type='submit'] {
	font-size: 32px;
	width: 500px;
	padding: 10px;
	background: #188AF9;
	border-radius: 7px;
	color: #FFF;
}

#search_result_div {
	position: absolute;
	top: 59px;
	background: #FFF;
	width: 100%;
	margin: 5px 0;
}

#filename_search_result {
	font-family: Arial;
	color: #404040;
	padding: 3px;
	width: 750px;
	height: 25px;
}

#filename_search_result:focus {
	background: #fff;
	outline: none;
}

#search_result_div button {
	background: #1265A9;
	border: 1px outset #1265a9;
	border-radius: 4px; 
	font-size: 18px;
	float: right;
	width: 80px;
	height: 32px;
	color: #FFF;
	padding: 3px;
}

#searched_results {
	background: #FFF;
	width: 760px;
	margin: 5px 0 35px 6px;
}

#num_results {
	float: left;
	padding: 3px;
	color: #808080;
	font-size: 16px;
	margin-left: 10px;
}

#searched_results ul {
	list-style-type: none;
	list-style-position: outside;
}

#searched_results ul li {
	border-bottom: 2px inset #E8E8E8;
	line-height: 35px;
	padding: 5px;
}

#searched_results ul li:hover {
	cursor: pointer;
	background: #cbd8e6;
}

#searched_results ul li p{
	text-indent: 10px;
	text-align: left;
}

#searched_results ul li span{
	margin-right: 25px;
}

#searched_results img {
	float: left;
	margin-left: 7px;
	width: 30px;
	height: 30px;
}

.searched_filename {
	font-style: italic;
	color: #202A33;
}

.searched_filetype {
	color: #48DB23;
}

.searched_filesize {
	font-family: Courier;
	color: #787775;
}

#searched_results ul li a {
	margin-left: 15px;
	font-weight: bold;
	color: #404040;
}

#searched_results ul li a:hover {
	color: #83070F;
}

#searched_results input[type='submit'] {
	text-decoration: underline;
	font-size: inherit;
	background: none;
	border: none;
	margin-left: 15px;
	font-weight: bold;
	color: #404040;
}

#searched_results ul li input[type='submit']:hover {
	cursor: pointer;
	color: #83070F;
}


/* VIEW FILE Design */

#view_file_logo {
	width: 100%;
	border-bottom: 2px inset #e5e5e5;
}

#view_file_logo img {
	border: none;
	margin: 5px 8px;
	width: 125px;
	height: 80px;
}

#view_file_div {
	margin: 10px auto;
	padding: 10px 5px;
	background: #FFF;
	width: 950px;
}

#view_file_div .file_category_image {
	margin: 0 10px;
	float: left;
}

#view_file_div table {
	padding: 8px 0;
	width: 600px;
	color: #1A1A1A;
}

.title {
	line-height: 25px;
	font-size: 17px;
	font-weight: bold;
	color: #616161;
}

#view_file_div .download_button {
	background: #188AF9;
	border-radius: 5px;
	margin-top: 10px;
	font-size: 45px;
	padding: 5px 0;
	border: none;
	width: 400px;
	color: #FFF;
}

/* Suggestions CSS */

#background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.8;
	z-index: 888;
}

#suggestions_div {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -120px 0 0 -145px;
	border: 2px outset #CCC;
	padding: 8px;
	width: 240px;
	height: 290px;
	background: #FCFFF5;
	color: #3D4C53;
	z-index: 999;
}

#suggestions_div h3 {
	padding: 8px 3px;
	color: #3399FF;
}

#suggestions_div input {
	margin: 5px 3px;
	width: 185px;
	height: 20px;
}

#suggestions_div input:focus {
	outline: none;
}

#suggestions_div textarea {
	border-radius: 6px;
	padding: 4px;
	width: 225px;
	height: 80px;
}

#suggestions_div textarea:focus {
	outline: none;
}

#suggestions_div button {
	border-radius: 3px;
	background: #3399FF;
	font-size: 24px;
	color: #FFF;
	border: none;
	width: 235px;
	height: 40px;
}

#suggestions_div .close {
	font-weight: bold;
	float: right;
	color: #1E1F21;
}

/* End of Suggestions CSS*/

#suggestions_link {
	font-weight: 600;
	float: right;
	color: #003366;
}

#post_comment_div {
	width: 910px;
	margin: 10px auto;
}

#post_comment_div img {
	float: left;
	width: 90px;
	width: 90px;
}

#post_comment_div textarea {
	margin-left: 8px;
	font-size: 17px;
	padding: 8px;
	float: left;
	width: 790px;
	height: 60px;
}

#post_comment_div textarea:focus {
	outline: none;
}

#post_comment_div .post_comment_button {
	margin: 5px 5px;
	font-size: 18px;
	width: 120px;
	height: 40px;
	float: right;
}

#comment_area {
	margin: 5px auto;
	padding: 5px;
	width: 930px;
}

#user_img_div {
	margin: 0px 10px 0;
	float: left;
	width: 90px;
}

#user_img_div img{
	width: 90px;
	height: 90px;
}

#user_img_div .user_fullname {
	font-weight: bold;
	color: #363636;
}

#comment_area p{
	border-radius: 7px;
	background: #0099CC;
	color: #fff;
	padding: 5px;
	float: left;
	width: 800px;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

#top_downloads_div {
	border-radius: 5px;
	width: 97%;
	margin: 8px auto;
	padding: 5px;
	background: #FFF;
}

#top_downloads_div div {
	margin: 15px 0;
}

#top_downloads_div img {
	margin: 0px 10px;
	float: left;
	width: 26px;
	height: 26px;
}

#top_downloads_div h2 {
	color: #99742e;
}

#top_downloads_div table {
	width: 99%;
	margin: 5px auto;
	border-collapse: collapse;
}

#top_downloads_div th {
	font-weight: lighter;
	text-align: left;
	font-family: Helvetica;
	font-size: 12px;
	color: #999;
	padding: 5px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#top_downloads_div td {
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 3px;
}

#top_downloads_div .filename {
	font-family: Verdana;
	color: #757575;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}

#top_downloads_div .filename:hover {
	text-decoration: underline;
}

#top_downloads_div .filetype {
	color: #8A8AFF;
}

#top_downloads_div .filesize {
	color: #008f0d;
}

#top_downloads_div .filedownloaded {
	font-weight: bold;
	color: #594c2d;
}

#top_downloads_div .filedate {
	color: #7D7D7D;
	font-size: 13px;
	font-style: italic;
}

#top_downloads_div .file_download {
	width: 80px;
	padding: 5px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 6px;
}

#top_downloads_div .file_download:hover {
	border: 1px solid #40C6FF;
}